In [7]:
import pandas as pd
import os
import yaml


def create_metrics_dataframe(per_round_status):
    # concatenate all the 'metrics' lists
    lists = [r['metrics'] for r in per_round_status]
    metrics = [i for l in lists for i in l]
    return pd.DataFrame(metrics)

def load_status_yaml(training_id=1, server='api_medperf_org'):
    with open(os.path.join(os.path.expanduser('~'), '.medperf/training', server, f"{training_id}", 'status.yaml'), 'r') as f:
        return yaml.safe_load(f)

In [8]:
df = create_metrics_dataframe(load_status_yaml())

In [9]:
df.head()

,metric_name,metric_origin,metric_value,round,task_name
0,val_eval,kcma@mdanderson.org,0.902186,0,aggregated_model_validation
1,val_eval_C1,kcma@mdanderson.org,0.843617,0,aggregated_model_validation
2,val_eval_C2,kcma@mdanderson.org,0.889711,0,aggregated_model_validation
3,val_eval_C3,kcma@mdanderson.org,0.918437,0,aggregated_model_validation
4,val_eval_C4,kcma@mdanderson.org,0.956977,0,aggregated_model_validation